In [1]:
"""
Python 3.10 Best models Spaceship_Titanic program will you survive on the spaceship titanic or not
File name Titanic_eda.py

Version: 0.1
Author: MLCV
Date: 2023-06-25
"""

# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python

#load packages
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))



#misc libraries
import random
import time


#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)

Python version: 3.10.6 (tags/v3.10.6:9c7b4bd, Aug  1 2022, 21:53:49) [MSC v.1932 64 bit (AMD64)]
pandas version: 1.4.3
matplotlib version: 3.6.3
NumPy version: 1.23.0
SciPy version: 1.10.0
IPython version: 8.9.0
scikit-learn version: 1.2.1
-------------------------

In [2]:
#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier

#Common Model Helpers
from category_encoders import OneHotEncoder, MEstimateEncoder, GLMMEncoder, OrdinalEncoder
from sklearn.model_selection import RepeatedStratifiedKFold, StratifiedKFold, KFold
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor, GradientBoostingRegressor
from sklearn.ensemble import HistGradientBoostingRegressor, VotingRegressor, StackingRegressor
from sklearn.svm import SVR, LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.linear_model import PassiveAggressiveRegressor, ARDRegression
from sklearn.linear_model import TheilSenRegressor, HuberRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, roc_auc_score, roc_curve
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import FunctionTransformer, StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import squareform
from xgboost import XGBRegressor, XGBClassifier
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.plotting import scatter_matrix


#Configure Visualization Defaults
#%matplotlib inline = show plots in Jupyter Notebook browser
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8

In [78]:
df_2008 = pd.read_csv('Data/CEAPS_2008.csv', sep=';', encoding = 'ISO-8859-1', skiprows=1)
df_2019 = pd.read_csv('Data/CEAPS_2019.csv', sep=';', encoding = 'ISO-8859-1', skiprows=1)
df_2020 = pd.read_csv('Data/CEAPS_2020.csv', sep=';', encoding = 'ISO-8859-1', skiprows=1)
df_2021 = pd.read_csv('Data/CEAPS_2021.csv', sep=';', encoding = 'ISO-8859-1', skiprows=1)
df_2022 = pd.read_csv('Data/CEAPS_2022.csv', sep=';', encoding = 'ISO-8859-1', skiprows=1)
df_exercicio = pd.read_csv('Data/parla_inter.csv', sep=';', encoding = 'ISO-8859-1', skiprows=1)

In [50]:
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2449 entries, 0 to 2448
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                2449 non-null   int64
 1   MES                2449 non-null   int64
 2   SENADOR            2449 non-null   object
 3   TIPO_DESPESA       2449 non-null   object
 4   CNPJ_CPF           0 non-null      float64
 5   FORNECEDOR         0 non-null      float64
 6   DOCUMENTO          0 non-null      float64
 7   DATA               0 non-null      float64
 8   DETALHAMENTO       0 non-null      float64
 9   VALOR_REEMBOLSADO  2449 non-null   object
 10  COD_DOCUMENTO      2449 non-null   int64
dtypes: float64(5), int64(3), object(3)
memory usage: 210.6+ KB

In [5]:
df_2008.describe()

,ANO,MES,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,COD_DOCUMENTO
count,2449.0,2449.000000,0.0,0.0,0.0,0.0,0.0,2.449000e+03
mean,2008.0,7.000817,NaN,NaN,NaN,NaN,NaN,2.008070e+12
std,0.0,3.245912,NaN,NaN,NaN,NaN,NaN,3.245635e+07
min,2008.0,2.000000,NaN,NaN,NaN,NaN,NaN,2.008020e+12
25%,2008.0,4.000000,NaN,NaN,NaN,NaN,NaN,2.008040e+12
50%,2008.0,7.000000,NaN,NaN,NaN,NaN,NaN,2.008070e+12
75%,2008.0,10.000000,NaN,NaN,NaN,NaN,NaN,2.008100e+12
max,2008.0,12.000000,NaN,NaN,NaN,NaN,NaN,2.008121e+12

In [6]:
print('Null values in CEAPS 2008:\n', df_2008.isna().sum())

Null values in CEAPS 2008:
 ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF             2449
FORNECEDOR           2449
DOCUMENTO            2449
DATA                 2449
DETALHAMENTO         2449
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [7]:
df_2008.SENADOR.value_counts()

CRISTOVAM BUARQUE        47
PATRÍCIA SABOYA GOMES    46
IDELI SALVATTI           45
HERÁCLITO FORTES         45
JOSÉ NERY                45
                         ..
GILVAM BORGES             7
CARLOS DUNGA              5
GEOVANI BORGES            4
ARTHUR VIRGÍLIO           4
MARIA DO CARMO ALVES      4
Name: SENADOR, Length: 85, dtype: int64

In [8]:
df_2008.groupby('SENADOR')['TIPO_DESPESA'].count()

SENADOR
ADA MELLO                          8
ADELMIR SANTANA                   22
ALMEIDA LIMA                      36
ALOIZIO MERCADANTE                44
ALVARO DIAS                       39
                                  ..
TIÃO VIANA                        39
VALDIR RAUPP                      15
VALTER PEREIRA                    32
VIRGINIO DE CARVALHO              23
WELLINGTON SALGADO DE OLIVEIRA    43
Name: TIPO_DESPESA, Length: 85, dtype: int64

In [9]:
df_2008['VALOR_REEMBOLSADO'].replace(',','.', inplace=True, regex=True)

In [10]:
df_2008['VALOR_REEMBOLSADO'] = df_2008['VALOR_REEMBOLSADO'].astype(float)

In [11]:
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2449 entries, 0 to 2448
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                2449 non-null   int64
 1   MES                2449 non-null   int64
 2   SENADOR            2449 non-null   object
 3   TIPO_DESPESA       2449 non-null   object
 4   CNPJ_CPF           0 non-null      float64
 5   FORNECEDOR         0 non-null      float64
 6   DOCUMENTO          0 non-null      float64
 7   DATA               0 non-null      float64
 8   DETALHAMENTO       0 non-null      float64
 9   VALOR_REEMBOLSADO  2449 non-null   float64
 10  COD_DOCUMENTO      2449 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 210.6+ KB

In [12]:
df_2008.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

SENADOR
ROMEU TUMA              179192.22
VALDIR RAUPP            178862.67
JOÃO RIBEIRO            173496.20
PAULO DUQUE             170078.86
JOSÉ AGRIPINO           169906.44
                          ...
MARCO ANTÔNIO COSTA      45354.64
EDUARDO SUPLICY          33053.55
TASSO JEREISSATI         27865.00
ARTHUR VIRGÍLIO          15696.94
MARIA DO CARMO ALVES     14862.24
Name: VALOR_REEMBOLSADO, Length: 85, dtype: float64

In [13]:
# PRECISO AGRUPAR 4 ANOS DO MESMO MANDATO PARA TER O VALOR TOTAL

In [14]:
print('CEAPS 2019:\n', df_2019.info())
print('CEAPS 2020:\n', df_2020.info())
print('CEAPS 2021:\n', df_2021.info())
print('CEAPS 2022:\n', df_2022.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21634 entries, 0 to 21633
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                21634 non-null  int64
 1   MES                21634 non-null  int64
 2   SENADOR            21634 non-null  object
 3   TIPO_DESPESA       21634 non-null  object
 4   CNPJ_CPF           21634 non-null  object
 5   FORNECEDOR         21634 non-null  object
 6   DOCUMENTO          20900 non-null  object
 7   DATA               21634 non-null  object
 8   DETALHAMENTO       13092 non-null  object
 9   VALOR_REEMBOLSADO  21634 non-null  object
 10  COD_DOCUMENTO      21634 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.8+ MB
CEAPS 2019:
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14090 entries, 0 to 14089
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                14090 non-null  int64
 1   MES                14090 non-null  int64
 2   SENADOR            14090 non-null  object
 3   TIPO_DESPESA       14090 non-null  object
 4   CNPJ_CPF           14090 non-null  object
 5   FORNECEDOR         14090 non-null  object
 6   DOCUMENTO          13470 non-null  object
 7   DATA               14090 non-null  object
 8   DETALHAMENTO       7228 non-null   object
 9   VALOR_REEMBOLSADO  14090 non-null  object
 10  COD_DOCUMENTO      14090 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.2+ MB
CEAPS 2020:
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16827 entries, 0 to 16826
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16827 non-null  int64
 1   MES                16827 non-null  int64
 2   SENADOR            16827 non-null  object
 3   TIPO_DESPESA       16827 non-null  object
 4   CNPJ_CPF           16827 non-null  object
 5   FORNECEDOR         16827 non-null  object
 6   DOCUMENTO          16152 non-null  object
 7   DATA               16827 non-null  object
 8   DETALHAMENTO       9201 non-null   object
 9   VALOR_REEMBOLSADO  16827 non-null  object
 10  COD_DOCUMENTO      16827 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.4+ MB
CEAPS 2021:
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16782 entries, 0 to 16781
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16782 non-null  int64
 1   MES                16782 non-null  int64
 2   SENADOR            16782 non-null  object
 3   TIPO_DESPESA       16782 non-null  object
 4   CNPJ_CPF           16782 non-null  object
 5   FORNECEDOR         16782 non-null  object
 6   DOCUMENTO          15848 non-null  object
 7   DATA               16782 non-null  object
 8   DETALHAMENTO       9062 non-null   object
 9   VALOR_REEMBOLSADO  16782 non-null  object
 10  COD_DOCUMENTO      16782 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.4+ MB
CEAPS 2022:
 None

In [15]:
#df_combine = pd.merge(df_2019, df_2020, on = 'SENADOR', how='outer')
#df_combine.head(5)

In [16]:
combine = df_2019.append(df_2020, ignore_index=False)
combine = combine.append(df_2021, ignore_index=False)
combine = combine.append(df_2022, ignore_index=False)
df_combine = pd.DataFrame(data=combine)
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69333 entries, 0 to 16781
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                69333 non-null  int64
 1   MES                69333 non-null  int64
 2   SENADOR            69333 non-null  object
 3   TIPO_DESPESA       69333 non-null  object
 4   CNPJ_CPF           69333 non-null  object
 5   FORNECEDOR         69333 non-null  object
 6   DOCUMENTO          66370 non-null  object
 7   DATA               69333 non-null  object
 8   DETALHAMENTO       38583 non-null  object
 9   VALOR_REEMBOLSADO  69333 non-null  object
 10  COD_DOCUMENTO      69333 non-null  int64
dtypes: int64(3), object(8)
memory usage: 6.3+ MB

In [17]:
df_combine.head(5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550

In [18]:
df_combine.ANO.value_counts()

2019    21634
2021    16827
2022    16782
2020    14090
Name: ANO, dtype: int64

In [19]:
df_combine.SENADOR.value_counts()

CARLOS VIANA            2136
JAQUES WAGNER           2077
WELLINGTON FAGUNDES     1976
HUMBERTO COSTA          1930
PAULO PAIM              1867
                        ...
VIRGINIO DE CARVALHO       3
HÉLIO JOSÉ                 3
EDISON LOBÃO               2
NAILDE PANTA               1
VICENTINHO ALVES           1
Name: SENADOR, Length: 153, dtype: int64

In [20]:
df_combine['VALOR_REEMBOLSADO'].replace(',','.', regex=True, inplace=True)

In [21]:
df_combine['VALOR_REEMBOLSADO']

0          66.02
1         139.98
2           6000
3         316.39
4          99.45
          ...
16777    2893.04
16778    1180.19
16779     2671.9
16780    1334.31
16781    2250.72
Name: VALOR_REEMBOLSADO, Length: 69333, dtype: object

In [22]:
df_combine['VALOR_REEMBOLSADO'] = df_combine['VALOR_REEMBOLSADO'].astype(float)

In [23]:
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69333 entries, 0 to 16781
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                69333 non-null  int64
 1   MES                69333 non-null  int64
 2   SENADOR            69333 non-null  object
 3   TIPO_DESPESA       69333 non-null  object
 4   CNPJ_CPF           69333 non-null  object
 5   FORNECEDOR         69333 non-null  object
 6   DOCUMENTO          66370 non-null  object
 7   DATA               69333 non-null  object
 8   DETALHAMENTO       38583 non-null  object
 9   VALOR_REEMBOLSADO  69333 non-null  float64
 10  COD_DOCUMENTO      69333 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 6.3+ MB

In [24]:
df_combine.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

SENADOR
TELMÁRIO MOTA           1951401.21
ROGÉRIO CARVALHO        1928300.49
MECIAS DE JESUS         1913241.64
PAULO ROCHA             1885315.28
MAILZA GOMES            1793120.58
                           ...
SIQUEIRA CAMPOS            5926.99
VIRGINIO DE CARVALHO       5720.56
MAGNO MALTA                4725.79
JOSÉ PIMENTEL              4713.74
NAILDE PANTA               1650.62
Name: VALOR_REEMBOLSADO, Length: 153, dtype: float64

In [25]:
df_combine.groupby('ANO')['SENADOR'].value_counts()

ANO   SENADOR
2019  WELLINGTON FAGUNDES              875
      HUMBERTO COSTA                   631
      MAJOR OLIMPIO                    606
      PAULO PAIM                       584
      TELMÁRIO MOTA                    582
                                      ...
2022  CHIQUINHO FEITOSA                 11
      LUIZ PASTORE                      11
      SAMUEL ARAUJO                      4
      MARIA ELIZA DE AGUIAR E SILVA      3
      JOSÉ ANÍBAL                        2
Name: SENADOR, Length: 394, dtype: int64

In [26]:
df_combine.nunique()

ANO                      4
MES                     12
SENADOR                153
TIPO_DESPESA             7
CNPJ_CPF              7670
FORNECEDOR            8692
DOCUMENTO            55369
DATA                  1559
DETALHAMENTO         22485
VALOR_REEMBOLSADO    31855
COD_DOCUMENTO        69333
dtype: int64

In [27]:
df_combine['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   25518
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           15206
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 14897
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      5007
Divulgação da atividade parlamentar                                                                                                                                                                 4487
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                              4105
Serviços de Segurança Privada                                                                                                                                                                        113
Name: TIPO_DESPESA, dtype: int64

In [28]:
print('Valores únicos 2019:\n', df_2019.nunique())
print('\n')
print('Valores únicos 2020:\n', df_2020.nunique())
print('\n')
print('Valores únicos 2021:\n', df_2021.nunique())
print('\n')
print('Valores únicos 2022:\n', df_2022.nunique())
print('\n')

print('Soma total de senadores:\n', df_2019['SENADOR'].nunique() + df_2020['SENADOR'].nunique() + df_2021['SENADOR'].nunique() + df_2022['SENADOR'].nunique())

print('\n')

print('Valores únicos datasets combinados:\n', df_combine.nunique())

Valores únicos 2019:
 ANO                      1
MES                     12
SENADOR                127
TIPO_DESPESA             7
CNPJ_CPF              3621
FORNECEDOR            4026
DOCUMENTO            18719
DATA                   453
DETALHAMENTO          8463
VALOR_REEMBOLSADO    11751
COD_DOCUMENTO        21634
dtype: int64


Valores únicos 2020:
 ANO                      1
MES                     12
SENADOR                 84
TIPO_DESPESA             7
CNPJ_CPF              2406
FORNECEDOR            2595
DOCUMENTO            11611
DATA                   457
DETALHAMENTO          4078
VALOR_REEMBOLSADO     7135
COD_DOCUMENTO        14090
dtype: int64


Valores únicos 2021:
 ANO                      1
MES                     12
SENADOR                 86
TIPO_DESPESA             7
CNPJ_CPF              2798
FORNECEDOR            2995
DOCUMENTO            14338
DATA                   450
DETALHAMENTO          5699
VALOR_REEMBOLSADO     8869
COD_DOCUMENTO        16827
dtype: int64


Valores únicos 2022:
 ANO                      1
MES                     12
SENADOR                 97
TIPO_DESPESA             7
CNPJ_CPF              3104
FORNECEDOR            3346
DOCUMENTO            13933
DATA                   443
DETALHAMENTO          5301
VALOR_REEMBOLSADO     9519
COD_DOCUMENTO        16782
dtype: int64


Soma total de senadores:
 394


Valores únicos datasets combinados:
 ANO                      4
MES                     12
SENADOR                153
TIPO_DESPESA             7
CNPJ_CPF              7670
FORNECEDOR            8692
DOCUMENTO            55369
DATA                  1559
DETALHAMENTO         22485
VALOR_REEMBOLSADO    31855
COD_DOCUMENTO        69333
dtype: int64

- Pegar os anos das eleições para o senado, verificar o número de senadores eleitos.
- Fazer uma lista dos nomes dos senadores eleitos no período escolhido
- Fazer isin dentro dos valores do dataset e os senadores eleitos
- Identificar valores errados/nulos e eliminar do dataset

In [34]:
nuniques_2019 = df_2019.drop_duplicates(subset=['SENADOR'])
#nuniques_2019
senadores_2019 = nuniques_2019['SENADOR'].tolist()
len(senadores_2019)

127

In [35]:
nuniques_2020 = df_2020.drop_duplicates(subset=['SENADOR'])
#nuniques_2020
senadores_2020 = nuniques_2020['SENADOR'].tolist()
len(senadores_2020)

84

In [36]:
nuniques_2021 = df_2021.drop_duplicates(subset=['SENADOR'])
#nuniques_2019
senadores_2021 = nuniques_2021['SENADOR'].tolist()
len(senadores_2021)

86

In [37]:
nuniques_2022 = df_2022.drop_duplicates(subset=['SENADOR'])
#nuniques_2019
senadores_2022 = nuniques_2022['SENADOR'].tolist()
len(senadores_2022)

97

In [40]:
s = set(senadores_2020)
temp3 = [x for x in senadores_2019 if x not in s]
print(temp3)

['AÉCIO NEVES', 'ALOYSIO NUNES FERREIRA', 'ANA AMÉLIA', 'ÂNGELA PORTELA', 'ANTÔNIO CARLOS VALADARES', 'ARMANDO MONTEIRO', 'ATAÍDES OLIVEIRA', 'BENEDITO DE LIRA', 'BLAIRO MAGGI', 'CÁSSIO CUNHA LIMA', 'DALIRIO BEBER', 'EDISON LOBÃO', 'EDUARDO AMORIM', 'EDUARDO GIRÃO', 'FLEXA RIBEIRO', 'GARIBALDI ALVES FILHO', 'GLEISI HOFFMANN', 'GUARACY SILVEIRA', 'HÉLIO JOSÉ', 'IVO CASSOL', 'JOÃO ALBERTO SOUZA', 'JOÃO CAPIBERIBE', 'JORGE VIANA', 'JOSÉ AGRIPINO', 'JOSÉ MEDEIROS', 'JOSÉ PIMENTEL', 'LÍDICE DA MATA', 'LINDBERGH FARIAS', 'LÚCIA VÂNIA', 'MAGNO MALTA', 'MARTA SUPLICY', 'PAULO BAUER', 'PEDRO CHAVES DOS SANTOS FILHO', 'RAIMUNDO LIRA', 'RENILDE BULHÕES', 'RICARDO FERRAÇO', 'ROBERTO REQUIÃO', 'ROMERO JUCÁ', 'SIQUEIRA CAMPOS', 'VALDIR RAUPP', 'VANESSA GRAZZIOTIN', 'VICENTINHO ALVES', 'WALDEMIR MOKA', 'WALTER PINHEIRO', 'WILDER MORAIS', 'ZÉ SANTANA', 'ZEZÉ PERRELLA']

In [80]:
df_exercicio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 10 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  --------------  -----
 0   NOME_PARLAMENTAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        80 non-null     object
 1   PARTIDO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 80 non-null     object
 2   UF                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      80 non-null     object
 3   TITULARIDADE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            80 non-null     object
 4   MANDATO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 80 non-null     object
 5   TELEFONES                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               80 non-null     object
 6   DTNASC                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  80 non-null     object
 7   EMAIL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   80 non-null     object
 8   CHEFE_GAB                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               80 non-null     object
 9   ENDERECO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                80 non-null     object
dtypes: object(10)
memory usage: 6.4+ KB

In [81]:
senadores_exercicio = df_exercicio['NOME_PARLAMENTAR'].tolist()

In [94]:
s = set(senadores_exercicio)
temp3 = [x for x in senadores_2022 if x not in s]
print('eleitos em 2022:\n', len(temp3))

eleitos em 2022:
 44